{% comment %} Don't make site specific changes here. This file applies to all sites. {% endcomment %}
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="/js/all_sites.js"></script>
    <link rel="stylesheet" href="/css/all_sites.css">
    {% block this_site_head %}
    {% endblock this_site_head %}
  </head>
  <body>
    {% block this_site_body %}
    {% endblock this_site_body %}
  </body>
</html>
