{% extends "all_sites.html" %}

{% comment %}
Feel free to modify this file on specific sites. The templates for the various sections of your website should inherit from this template.
{% endcomment %}

{% block this_site_head %}
  <script src="/js/this_site.js"></script>
  <link rel="stylesheet" href="/css/this_site.css">
  {% block this_section_head %}
  {% endblock this_section_head %}
{% endblock this_site_head %}

{% block this_site_body %}
  {% block this_section_body %}
  {% endblock this_section_body %}
{% endblock this_site_body %}
